body{
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica";
	background-color: #EEE;
	color: #222;
}

.face{
	max-width: 400px;
	width: 400px;
	height: 400px;
	margin: 10px;
	display: block;
	border: 5px solid #EE6363;
}

.hasFaceppJson{
	border: 5px solid #20B2AA;
}

.dot{
	border-radius: 300px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	border: 2px solid white;
}

.isDuck{
	background-color: rgba(0,150,0,.5);
}

.notDuck{
	background-color: rgba(150,0,0,.5);
}

.notYetTagged{
	border: 2px solid rgba(255,255,255,1);
}

