body{
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica";
	background-color: #EEE;
	color: #222;
}

.face{
	max-width: 400px;
	margin: 10px;
	display: block;
	border: 5px solid #EE6363;
}

.hasFaceppJson{
	border: 5px solid #20B2AA;
}